body{
  background-color: white;
}
.white-bar{
  width: 100%;
  background-color: white;
  border-bottom:1px;
  box-shadow: 0 3px #99999966;
  height: 50px;
  position: fixed;
  z-index: 1;
  padding: 15px;
  margin-top: -50px;
}
.navbar-section{
  display: flex;
  justify-content: space-between;
}
.navbar-section ul{
  width: 300px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.btn{
  width:300px;
}
.btn-primary{
  background-color: #19acca;
}
.section-herobar{
  display: flex;
  color: #353535;
  background-color: white;
  padding: 25px;
  width: 100%;
  margin-top: 50px;

}
.section-one{
  position: relative;
 background-color: white;
}
.section-one .container .row .col{
  margin-top:50px;
}
.section-herobar .register-button{
  max-width: 650px;
  margin-left: 40px;
}
.section-one .register-button{
  width: 400px;
  margin-top: 150px;
}
.section-herobar .hero-ul{
  margin-top: 200px;
}
.headline{
  text-align: center;
}
.video-section{
  width: 700px;
}
@media only screen and (max-width: 600px) {
  .section-herobar{
    display: block;
  }
  .section-one{
    width: 100%;
  }
  .section-herobar .register-button{
    max-width: 100%;
  }
  .video-section{
    width: 100%;
  }
}